asgiref==3.7.2
django==4.2.6 
sqlparse==0.4.4 
tzdata==2023.3
psycopg2-binary==2.9.9
djangorestframework==3.14.0 
pytz==2023.3.post1
django-cors-headers==4.3.0
attrs==23.1.0 
drf-yasg==1.21.7 
inflection==0.5.1 
jsonschema==4.19.1 
# jsonschema-specifications==2023.7.1  # Consider removing or specifying a lower version
packaging==23.2 
pyyaml==6.0.1 
referencing==0.30.2 
rpds-py==0.10.6 
swagger-spec-validator==3.0.3 
typing-extensions==4.8.0 
uritemplate==4.1.1
gunicorn==21.2.0
